.popup-material {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-balao {
    padding: 24px;
    background: #fefefe;
    border-radius: 10px;
    max-width: min(100%, 360px);
    line-height: 1.5;
    position: absolute;
    top: 80px;
    right: 100px;
}

.popup-balao::after {
    content: "";
    height: 20px;
    width: 20px;
    background: #fefefe;
    transform: rotate(45deg);
    position: absolute;
    right: -0.5em;
    top: 10%;
    z-index: -1;
}

.popup-material button {
    margin-top: 20px;
    border-radius: 50px;
    background-color: var(--uniasselvi-yellow);
    padding: 10px 20px;
    border: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .popup-material {
        padding: 10px;
    }

    .popup-balao {
        top: auto;
        right: 20px;
        bottom: 80px;
    }

    .popup-balao::after {
        right: 20%;
        top: auto;
        bottom: -0.5em;
    }
}
